* {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#characters-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.card {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.card img {
    align-self: center;
    width: 18em;
    height: 25em;
    object-fit: cover;
}
